@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Add a copy</h2>

<h4>Add a copy to this patron: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatronId)

    @Html.Label("Select copy")
    @Html.DropDownList("CopyId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to copies", "Index")</p>
