@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Patron Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Copies.Count == 0)
{
  <p>This patron does not contain any copies</p>
}
else
{
  <h4>Book Copies the patron contains:</h4>
  <ul>
  @foreach(var join in Model.Copies)
  {
    <li>@join.Copy.CopyId</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to patrons", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Add Copy", "AddCopy", new { id = Model.PatronId })</p>
