@{
  Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>

<p>@Html.ActionLink("See all patrons", "Index", "Patrons")</p>
<p>@Html.ActionLink("See all books", "Index", "Books")</p>
<p>@Html.ActionLink("See all book copies", "Index", "Copies")</p>
<p>@Html.ActionLink("See all authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
